.bg-mb1 {
    background-color: #382C6B !important;
}

.bg-mb2 {
    background-color: #5F4F93 !important;
}

.bg-mb3 {
    background-color: #382C6B !important;
}

.bg-mb4 {
    background-color: #382C6B !important;
}

.bg-mb5 {
    background-color: #382C6B !important;
}

.text-mb1 {
    color: #382C6B !important;
}

.text-mb2 {
    color: #5F4F93 !important;
}

.text-mb3 {
    color: #382C6B !important;
}

.text-mb4 {
    color: #382C6B !important;
}

.text-mb5 {
    color: #382C6B !important;
}

.card {
    border: none;
    margin-bottom: 24px;
    -webkit-box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
    box-shadow: 0 0 13px 0 rgba(236, 236, 241, .44);
}


.how-it-works.row .col-2 {
    align-self: stretch;
}

.how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    /* border-left: 3px solid #212529; */
    z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
}

.how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
}


.timeline div {
    padding: 0;
    height: 40px;
}

.timeline .col-2 {
    display: flex;
    overflow: hidden;
}

.timeline .corner {
    border: 3px solid #382C6B;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right {
    left: 50%;
    top: -50%;
}

.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .top-left {
    left: -50%;
    top: -50%;
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}